@model Rhondas_Place_.Models.Candle

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Candle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CandleCategory.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CandleCategory.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CandleScentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CandleScentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CandleImgUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CandleImgUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CandleScent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CandleScent.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CandleId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
